app.name=punimi-3
app.version=1

time_frame= 10
complete_interval= 300
allowed_time_to_run= 30

min_time_green_vehicle= 2
max_time_red_vehicle= 3
preferred_time_green_vehicle= 3
preferred_time_red_vehicle= 1

min_time_green_pedestrian= 2
max_time_red_pedestrian= 3
preferred_time_green_pedestrian= 3
preferred_time_red_pedestrian= 1

hard_constraint_penallty= 100000
soft_constraint_penallty= 500
cool_constraint_penallty= 10
