app.name=punimi-3
app.version=1

time_frame= 10
complete_interval= 300
allowed_time_to_run= 7

min_time_green_vehicle= 1
max_time_red_vehicle= 300
preferred_time_green_vehicle= 2
preferred_time_red_vehicle= 300

min_time_green_pedestrian= 1
max_time_red_pedestrian= 300
preferred_time_green_pedestrian= 2
preferred_time_red_pedestrian= 300

hard_constraint_penallty= 100000
soft_constraint_penallty= 20
cool_constraint_penallty= 5
